<% provide(:title, "Home") %>
		<h1>Sample App</h1>
		<p>
			This is the stuff that I already know, either this tutorial is patronizing or my 
			<a href="http://web.cse.ohio-state.edu/~giles.25/3901/">professor</a> 
			did a good job preparing me for this.
		</p>
